

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }
  
 
  
  .homegrown {

  color: #990000;
  font-size: 1.5rem;
  font-weight: bold;
  }
  
  .tricolorBackground {

  background-image: linear-gradient(to right, #FF9933, #FFFFFF, #138808);

  padding: 10px;
  }
  
  .textContainer {
  margin: 5px;
  padding: 10px;
  background-color: #000;
  border: 2px solid #fff; /* Add a border with white color */
  }
  
  .text {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  }
  
  /* Responsive Styles for Mobile and Smaller Screens */
  
 
  @media (max-width: 768px) {
  .title {
  font-size: 2rem;
  }
  
  .homegrown {
  font-size: 1.2rem; /* Decrease font size for the homegrown text */
  }
  
  .textContainer {
  margin-top: 10px; /* Reduce top margin for the text container /
  padding: 5px; / Reduce padding for the text container */
  }
  
  .text {
  font-size: 1.2rem; /* Decrease font size for the text */
  }
  }